.pp {
  display: inline-flex; height: 100px; width: 100px; border: 2px solid; background-color: gray; vertical-align: middle;
  top:0px; text-align: center; justify-content: center; justify-items: center; align-items: center; margin: 10px;
  font-size: 75px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  .pp:hover {
  border-color: white;
  }
  
  .rowboard {
      display: inline-block;
  }
  
  .board {
      max-width: max-content; margin-left: auto; margin-right: auto;
  }
  
  .inl {
      display: inline-flex;
  }
  
  .sliderlabels {
      position: absolute;
      left: 0;
      right: 0;
      top: 150px;
      display: flex;
      justify-content: center;
      color: red;
  }
  
  p {
      margin-left: 33px;
      margin-right: 33px;
  }
  
  
  .theSlider {
      max-width: 250px;
  }
    
  .slidertitle {
      padding-bottom: 5px;
      color: white;
  }
  
  body {
      background-image: linear-gradient(darkblue, white);
      background-repeat: no-repeat;
  }
  
  .header {
      display: flex;
      justify-content: center; text-align: canter;
      max-width: max-content;
      margin-left: auto; margin-right: auto;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
  }
  
  .optionsbtn {
      height: 50px;
      width: 130px;
      border: 2px solid;
      border-radius: 15px;
      position: relative;
      background-image: linear-gradient(red, yellow);
      margin: 10px;
      box-shadow: 5px 10px 18px red;
      font-size: 15px;
      color: white;
    }
  
  .optionsbtn:hover {
      height: 65px;
      width: 140px;
  }
  .score {
      height: max-content;
      width: max-content;
      margin: auto;
      text-align: center;
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
      font-size: 35px;
  }
    
  .options {
      height: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .scorebox {
      height: 100px; width: 200px;
      border: 2px solid;
      margin-left: 10px;
      margin-right: 10px;
      background-color: red;
      border-radius: 30px;
  }
  
  .scoreword {
      max-height: 20px;
      width: max-content;
      margin: auto;
      display: block;
      text-align: center;
      color: red;
      margin-top: 10px;
      font-size: 24px;
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }